.row {
  margin-left: 20px;
  color: #fff;
  .row_title {
    padding-left: 20px;
  }
  .slider {
    position: relative;
    &:hover .slider_arrow {
      visibility: visible;
    }
    .slider_arrow {
      visibility: hidden;
      z-index: 1000;
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 0;
      box-sizing: border-box;
      width: 80px;
      height: 100%;
      cursor: pointer;
      transition: all 0.4s ease-in-out 0s;
      &:hover {
        background-color: rgba(20, 20, 20, 0.5);
      }
      .arrow {
        transition: all 0.4s ease-in-out 0s;
        &:hover {
          transform: scale(1.5);
        }
      }
    }
    .left {
      left: 0;
    }
    .right {
      right: 0;
    }

    .row_posters {
      display: flex;
      padding: 20px 0 20px 20px;
      overflow-y: hidden;
      overflow-x: scroll;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }
      .row_poster {
        width: 100%;
        max-height: 144px;
        margin-right: 10px;
        object-fit: contain;
        border-radius: 4px;
        transition: transform 0.45s ease-in 0s;
        &:hover {
          transform: scale(1.1);
        }
      }
      .row_posterLarge {
        max-height: 320px;
        &:hover {
          transform: scale(1.08);
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .row_poster {
    width: 100%;
    max-height: 144px;
    margin-right: 10px;
    object-fit: contain;
    border-radius: 4px;
    transition: transform 0.45s ease-in 0s;
    &:hover {
      transform: scale(1.1);
    }
  }
  .row_posterLarge {
    max-height: 320px;
    &:hover {
      transform: scale(1.08);
      opacity: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  .row_poster {
    max-height: 100px;
  }
  .row_posterLarge {
    max-height: 280px;
  }
}

// swiper
.swiper-button-prev{color:  #fff !important;}
.swiper-button-next{color: #fff !important;}

.swiper-button-next::after,.swiper-button-prev::after{
    font-size: 1.3rem !important;
    font-weight: 600 !important;
}

.swiper-pagination-bullet{background-color: gray !important; opacity: 1;}
.swiper-pagination-bullet-active{
    background: #fff !important;
}

// .swiper-slide{
//     width: 190px !important;
// }